.locationList{
    height: 100%;
    overflow: auto;
}

@media (max-width: 64em){
    .locationList {
        max-height:70vh;
        overflow: auto;
        margin-bottom: 20px;
        height: 100%;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}